<html>
    <title>bsBang - about</title>
    <body>
        <h1>bsBang - about</h1>
        <!-- If anybody else wants to use this code we can replace/templatize/move this stuff -->
        <p>
            <ul>
                <li>Extremely alpha prototype search using <a href="http://bioschemas.org">Bioschemas</a> structured data.</li>
                <li>Currently only indexes data from a <a href="http://beta.synbiomine.org">hackishly pared down installation of InterMine</a>
                containing only E. coli str. K-12 substr. MG1655 genes, but more to come from this and other sources.</li>
                <li>Go to Github for the <a href="https://github.com/justinccdev/bsbang-solr-config">Solr config</a>,
                the <a href="https://github.com/justinccdev/bsbang-crawler">bsBang crawler and Solr setup code</a>
                and <a href="https://github.com/justinccdev/bsbang-frontend">this frontend</a>. Patches and bug reports welcome.</li>
                <li>Otherwise, please send suggestions/comments to justincc AT intermine.org or <a href="https://twitter.com/justincc">tweet me</a>.</li>
                <li>Brought to you by the <a href="http://www.micklemlab.org/">Micklem Lab</a>.</li>
            </ul>
        </p>
        <p>
            <a href='/'>Back</a>
        </p>
  </body>
</html>
