<html>
<head>
    <title>Buzzbang - about</title>
    <style>
        li { margin: 2px 0; }
    </style>
</head>
<body>
    <h1>Buzzbang - about</h1>
    <!-- If anybody else wants to use this code we can replace/templatize/move this stuff -->
    <p>
        <ul>
            <li>Extremely alpha prototype search using <a href="http://bioschemas.org">Bioschemas</a> structured data.</li>
            <li>Currently only manually indexes DataCatalog and PhysicalEntity from the following URLs
                <ul>
                    {% for site in sites %}
                        <li><a href='{{ site }}'>{{ site }}</a></li>
                    {% endfor %}
                </ul>
            Ability to register new URLs coming soon. In the meantime, please message me if you want something added (or submit a pull request).</li>
            <li>Go to Github for the <a href="https://github.com/justinccdev/bsbang-crawler">bsBang crawler and Solr setup code</a>
            and <a href="https://github.com/justinccdev/bsbang-frontend">this frontend</a>. Patches and bug reports welcome.</li>
            <li>Otherwise, please send suggestions/comments to Justin Clark-Casey (justincc AT intermine.org) or <a href="https://twitter.com/justincc">tweet me</a>.</li>
            <li>Brought to you by the <a href="http://www.micklemlab.org/">Micklem Lab</a>, funded by the <a href='http://www.bbsrc.ac.uk/'>BBSRC</a>.</li>
            <li>Many thanks to <a href="https://github.com/ggcarlosr">Carlos Garcia for the Buzzbang logo, available
                under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons CC BY 4.0</a>.
        </ul>
    </p>
    <p>
        <a href='/'>Back</a>
    </p>
</body>
</html>
