<html>
<head>
    <title>Buzzbang</title>
    <style>
        .results-table { border:'0' }
        .results-table td {
            padding-right: 7.5px;
            vertical-align:top
        }
    </style>
</head>
<body>
    <h1>Buzzbang Search</h1>
    <p><a href="about">About</a></p>
    <form action="" method="post" name="search">
        {{ form.csrf_token }}
        <p>
            Enter search term (e.g. 'data', 'registry', 'rrsH', 'lacZ lacY lacA'):<br/>
            {{ form.q(size=80) }}<br/>
        </p>
        <p><input type="submit" value="Search"></p>
    </form>
    {% if results %}
        <p>{{ results['response']['numFound'] }} result(s)</p>
        {% for doc in results['response']['docs'] %}
            <p>
                <a href="{{ doc.url }}">{{ doc.name }}</a><br/>
                <table class='results-table'>
                    <tr>
                        <td><b>Type</b></td>
                        <td>{{ doc.AT_type }}</td>
                    </tr>
                    {% if doc.AT_type == 'PhysicalEntity' %}
                        <tr>
                            <td><b>Profile</b></td>
                            <td>
                                {% if doc.additionalType.startswith('http://') %}
                                    <a href="{{ doc.additionalType }}">{{ doc.additionalType }}</a>
                                {% else %}
                                    {{ doc.additionalType }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Identifier</b></td>
                            <td>{{ doc.identifier }}</td>
                        </tr>
                        <tr>
                            <td><b>From</b></td>
                            <td>{{ doc.url }}</td>
                        </tr>
                    {% elif doc.AT_type == 'DataCatalog' %}
                        <tr>
                            <td><b>Keywords</b></td>
                            <td>{{ doc.keywords }}</td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td>{{ doc.description }}</td>
                        </tr>
                    {% endif %}
                    {% if 'alternateName' in doc %}
                        <tr>
                            <td><b>alternateName</b></td>
                            <td>{{ doc.alternateName }}</td>
                        </tr>
                    {% endif %}
                </table>
            </p>
        {% endfor %}
    {% endif %}
</body>
</html>
