<html>
    <title>bsBang</title>
    <body>
        <h1>bsBang Search</h1>
        <p><a href="about">About</a></p>
        <form action="" method="post" name="search">
            {{ form.csrf_token }}
            <p>
                Enter search term (e.g. 'rrsH gene', 'lacZ lacY lacA'):<br/>
                {{ form.q(size=80) }}<br/>
            </p>
            <p><input type="submit" value="Search"></p>
        </form>
        {% if results %}
            <p>{{ results['response']['numFound'] }} result(s)</p>
            {% for doc in results['response']['docs'] %}
                <p>
                    <a href="{{ doc.url }}">{{ doc.name }}</a><br/>
                    Type: <a href="{{ doc.additionalType }}">{{ doc.additionalType }}</a><br/>
                    {{ doc.url }}
                </p>
            {% endfor %}
        {% endif %}
  </body>
</html>
